body{
  position: absolute;
  height: 100%;
  width: 100%;
}

.background-image{
  position:absolute;
  background: url(../img/Portada.jpg) no-repeat center center fixed; 
  background-attachment: fixed;
  -webkit-backface-visibility: hidden;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width:100%;
  height: 100%;
}

.tab-holder{
    background-color: #110f35;
    position: absolute;
    bottom: 0;
    height:100px;
    width: 100%;
    opacity: 0.8;
}

.tab{
    position: relative;
    height: 100px;
    background-color: #110f35;
    width: 10%;
    float: left;
    display:inline-block;
    text-decoration: none;
    color:#fff;
    font-size:17px;
    text-align: center;
}

.tab:hover{
    color:#110f35;
    background-color: #fff
}

.tab-text{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 10px;
    width:100%;
}

.welcome-holder{
  width: 100%;
  text-align: center;
  color:#fff;
}

.welcome-holder h1{
  font-size: 135px;
}
@media(max-width:1199px){
    .tab{
        font-size: 15px;
    }
}
@media(max-width:991px){
    .tab{
        font-size: 11px;
    }
}
@media(max-width: 767px){
  .background-image{
      position:fixed;
  }
  .tab{
    float:none;
    display:table;
    width: 100%;
    font-size: 17px;
    border-right:none;
  }
}